<nav class="sh-navbar">
  <picture class="sh-navbar__thumb">
    <img src="svg/logo.svg" alt="Logotipo de la aplicación de películas" />
  </picture>
  <ul class="sh-navbar__list">
    <li>
      <a routerLink="/home" routerLinkActive="is-active" aria-current="page">
        Inicio
      </a>
    </li>
    <li>
      <a routerLink="/movies" routerLinkActive="is-active">Peliculas</a>
    </li>
    <li>
      <a routerLink="/news" routerLinkActive="is-active">Novedades</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="is-active">Contacto</a>
    </li>
    <li>
      <a routerLink="/login" routerLinkActive="is-active">Ingresar</a>
    </li>
  </ul>
</nav>
