@let movie = selectedMovie();

<main>
  <img
    src="https://image.tmdb.org/t/p/original/{{ movie?.backdrop_path }}"
    alt="poster principal de la película {{ movie?.title }}"
  />
  <span>{{ movie?.release_date | date : 'yyyy' }}</span>
  <h1>{{ movie?.title }} ({{ movie?.original_title }})</h1>
  <p>{{ movie?.overview }}</p>
  <section>
    <img
      src="https://image.tmdb.org/t/p/original/{{ movie?.poster_path }}"
      alt="poster de la película {{ movie?.title }}"
    />
  </section>
</main>
