<h1 class="text-4xl font-semibold mb-8">Películas</h1>
<!-- <section class="flex gap-4 flex-wrap">
  @for (movie of movies(); track movie.imdbID) {
  <app-home-card
    [movieAlias]="movie"
    (movieSelected)="getSelectedMovie($event)"
  />
  }
</section> -->

<section class="p-6">
  <form [formGroup]="form">
    <router-outlet></router-outlet>
  </form>

  <button
    routerLink="address"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
  >
    Step 1
  </button>
  <button
    routerLink="credit-card"
    class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
  >
    Step 2
  </button>
</section>
