:host {
  display: block;
  padding: 2rem;
  background-color: var(--third-color);
}

.sh-reservation-form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    input {
      padding: 0.25em 0.5rem;
      border: 2px solid #a9adac;
      border-radius: 0.25rem;
      outline: none;
      background-color: #4e4d4d;
      color: #fff;
      transition: border-color 0.3s ease-out;
      &:focus {
        border-color: var(--primary-color);
      }
    }
  }
}
